.futsibar_container{
    color: white;
    background-color:#262a33 ;
    width: 100%;
    height: 4vh;
    padding: 0;
    
}

.futsibar_container > ul {
    
    width: 70%;
    margin: auto;
    padding-top: 0px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    list-style: none;
}

.futsibar_li_div {
    padding-top: 7px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.futsibar_li_div_last {
    padding-top: 7px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li_img {
    padding-top: 5px;
    height: 25px;
}

@media screen and (max-width: 960px){
    .futsibar_container > ul {
        width: 90%;
    }
}

@media screen and (max-width: 640px){
    .futsibar_li_div > li {
       font-size: 10px;
    }
    .futsibar_li_div_last > li {
        font-size: 10px;
     }
   
}

@media screen and (max-width: 460px){
    .futsibar_container{
        display: none;
    }

}