.header_container{
 background-color: #F4E8DD;
 padding: 20px;
 padding-bottom: 0px;
 padding-top: 0;
 
}
.header_top{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.header_burger{
    
    padding-bottom: 5px;
    width: 5%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header_search{
   
    width: 5%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.header_search > input {
    width: 100px;
}


.header_title{
    
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_title > h1{
    font-size: 60px;
    font-weight: 400;
}

.header_profile{
    cursor: pointer;
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    opacity: 0.5;
}

.header_bottom > ul{
    margin-top: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.header_bottom > ul > li{
    cursor: pointer;
    color: gray;

}

