.header_container{
 background-color: #F4E8DD;
 padding-bottom: 0px;
 padding-top: 0;
 
}
.header_top{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.header_burger{
    
    padding-bottom: 5px;
    width: 5%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header_search{
   
    width: 5%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.header_search > input {
    width: 100px;
}


.header_title{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rufina', serif;
}

.header_burger_icon {
    height: 40px;
}
.header_title > h1{
    font-size: 50px;
    font-weight: 400;
}

.header_profile{
    cursor: pointer;
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_profile_myFT {
    width: 60px;
}
.header_search_icon{
    width: 40px;
}
hr{
    opacity: 0.5;
}

.header_bottom > ul{
    margin-top: 0;
    margin-left: 5rem;
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.header_bottom > ul > li{
    cursor: pointer;
    color: rgb(34, 32, 32);
    font-weight: bold;
    margin: 0.5 1rem;
    white-space: nowrap;

}
li:hover{
    text-decoration: underline;
    
}

@media screen and (max-width: 1440px){
    .header_title > h1 {
        font-size: 60px;
    }
    .header_profile_myFT {
        width: 60px;
    }
    .header_search_icon{
        width: 40px;
    }
    .header_burger_icon {
        width: 40px;
    }
    .header_bottom > ul{
        padding-left: 0;
        margin-left: 6rem;
    }

}
@media screen and (max-width: 1440px){
    .header_bottom > ul{
        width: 75%;
    }
    .header_bottom{
        margin-left: -20px;   
    }
}
@media screen and (max-width: 1024px){
    .header_bottom > ul{
       
        width: 90%;
        margin-left: 75px;
    }
    .header_bottom{
        margin-left: -20px; 
   
    }

}
@media screen and (max-width: 960px){
    .header_bottom > ul{
        display: none;
        width: 90%;
        font-size: 15px;
        margin-left: 2%;
    }
    .header_bottom{
        
        width: 90%;
        margin: auto;
    }

    .header_title > h1 {
        font-size: 50px;
    }
    .header_profile_myFT {
        width: 50px;
    }
    .header_search_icon{
        width: 30px;
    }
    .header_burger_icon {
        width: 30px;
        height: 25px;
    }

}

@media screen and (max-width: 768px){
    .header_bottom > ul{
        width: 90%;
        font-size: 12px;
        margin-left: 2%;
    }
    .header_bottom{
        width: 90%;
        margin: auto;
    }

    .header_title > h1 {
        font-size: 40px;
    }
    .header_profile_myFT {
        width: 50px;
    }
    .header_search_icon{
        width: 30px;
    }
    .header_burger_icon {
        width: 30px;
        height: 25px;
    }

}

@media screen and (max-width: 640px) {
    .header_title > h1 {
        font-size: 30px;
    }
    .header_profile_myFT {
        width: 40px;
    }
    .header_search_icon{
        width: 20px;
    }
    .header_burger_icon {
        width: 30px;
        height: 20px;
    }
    .header_bottom {
        width: 100%;
    }
    .header_bottom > ul{
        width: 90%;
        margin-left: 2rem;
    }
    .header_bottom > ul > li{
        font-size: 11px;
    }


   
}

@media screen and (max-width: 460px){
    .header_title > h1 {
        font-size: 25px;
    }
    .header_profile_myFT {
        width: 30px;
    }
    .header_search_icon{
        width: 20px;
    }
    .header_burger_icon {
        width: 20px;
        height: 15px;
    }
    .header_bottom > ul{

        width: 90%;
        padding-left: 0;
        margin-left: 20px;
    }
    .header_bottom > ul > li{
        font-size: 8px;
    }


}
@media screen and (max-width: 414px){
    .header_title > h1 {
        font-size: 23px;
    }
    .header_profile_myFT {
        width: 30px;
    }
    .header_search_icon{
        width: 15px;
    }
    .header_burger_icon {
        width: 20px;
        height: 15px;
    }
    .header_bottom > ul{
      
        width: 90%;
        padding-left: 0;
        margin-left: 20px;
    }
    .header_bottom > ul > li{
        font-size: 6px;
    }
}

@media screen and (max-width: 411px){
    .header_title > h1 {
        font-size: 23px;
    }
    .header_profile_myFT {
        width: 30px;
    }
    .header_search_icon{
        width: 15px;
    }
    .header_burger_icon {
        width: 20px;
        height: 15px;
    }
    .header_bottom > ul{
      
        width: 90%;
        padding-left: 0;
        margin-left: 20px;
    }
    .header_bottom > ul > li{
        font-size: 6px;
    }


}

@media screen and (max-width: 375px){
    .header_title > h1 {
        font-size: 21px;    
    }
    .header_profile_myFT {
        width: 20px;
    }
    .header_search_icon{
        width: 15px;
    }
    .header_burger_icon {
        width: 15px;
        height: 10px;
    }
    
    .header_bottom > ul{
    
        width: 90%;
        padding-left: 0;
        margin-left: 20px;
    }
    .header_bottom > ul > li{
        font-size: 6px;
    }

}

@media screen and (max-width: 360px){
    .header_title > h1 {
        font-size: 20px; 
         
    }
    .header_profile_myFT {
        width: 22px;
    }
    .header_search_icon{
        width: 15px;
    }
    .header_burger_icon {
        width: 20px;
        height: 15px;
    }
    
    .header_bottom > ul{
    
        width: 90%;
        padding-left: 0;
        margin-left: 20px;
    }
    .header_bottom > ul > li{
        font-size: 5px;
    }

}

@media screen and (max-width: 320px){
   
    .header_title > h1 {
        font-size: 17px;    
    }
    .header_profile_myFT {
        width: 20px;
    }
    .header_search_icon{
        width: 15px;
    }
    .header_burger_icon {
        width: 15px;
        height: 10px;
    }
    
    .header_bottom > ul{
    
        width: 90%;
        padding-left: 0;
        margin-left: 20px;
    }
    .header_bottom > ul > li{
        font-size: 5px;
    }
}