.mainpage_container{
    background-color: #F4E8DD;
}

.mainpage_heading{ 
   display: flex;
    width: 95%;
    margin: auto;
}

.mainpage_heading > h2 {
    display: none;
    font-weight: 400;
    color: rgb(95, 92, 92);
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
}

.mainpage_left_box1{
    padding: 30px;
    margin: 0 1rem;
    background-color: whitesmoke;
}
.box1_inner{
    display: flex;
    justify-content: space-between;
    
}
.box1_inner > h2{
    height: fit-content;
    font-size: 35px;
    margin: 0 1rem auto 0;
}

.mainpage_left_box1 > p{
    font-size: 20px;
    margin-top: 0 1rem;
}
.mainpage_left_box1 > h4{
    width: 60%;
    font-size: 15px;
    color: gray;
}

.mainpage_left_box1 > h3{
    width: 60%;
    font-size: 20px;
    margin-bottom: 0%;
    color: #990f3d;
}

.mainpage_right{
   
   flex: 1;
   margin: 0 1rem;
    
}
.mainpage_wrapper{
    margin: auto;
    display: flex;
    
}

.borderz{
    width: 400px;
   
}

.mainpage_left_sub_wrapper{
  
    display: flex;
    justify-content: space-between;
}

.bottom_box1{
    background-color: whitesmoke;
    flex: 1;
    margin:  1rem;
    padding: 20px;
    

}
.bottom_box2{
    background-color: whitesmoke;
    flex: 1;
    margin:  1rem;
    padding: 20px;


}

.bottom_box_small_title{
    color: #990f3d;
   
}
.bottom_box1 > h2, .bottom_box2 > h2 {
    font-size: 18px;
}

.bottom_box1 > h3, .bottom_box2 > h3 {
    font-size: 22px;
}

.bottom_box1 > p, .bottom_box2 > p{
    font-size: 18px;
}

.mainpage_right{
    background-color: whitesmoke;
    padding: 20px; 
}

.borders{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
.mainpage_right > h3 {
    text-align: center;
}
.sideboxes {
   
    margin-left: 1rem;
}

.sideboxes > h3 {
    color: #990f3d;
    font-size: 20px;
    
}
.sideboxes > p{
    
    font-size: 18px;
    width: 90%;
}

.side_images{
    max-width: 20rem;
}

.searchbox {
    background-color: #33302e;
    display: flex;
    justify-content: center;
    width: 82%;
    margin:1rem auto;
}

.searchbox > input {
    height: 2rem;
    width: 50rem;
    font-size: 1.2rem;
}
.searchbox > button {
    height: 2.4rem;
    width: 8rem;
}

.toggle{
    display: none;
}

.loader{

    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}


/* ------------------------------------------------------------------------------ */


@media screen and (max-width: 1440px) {
   
    .borderz{
        width: 350px;
    }
    .box1_inner > h2 {
        font-size: 35px;
    }
    #main_ptag{
        font-size: 20px;
        padding: 0;
        padding-top: 10px;
    }
   
    .sideboxes > h3, p {
        padding-left: 0px;
    }
    .bottom_box1, .bottom_box2{
        min-height: 550px;
        height: fit-content;
        
    }
    .bottom_box1 > p, .bottom_box2 > p{
        font-size: 20px;
    }
    #box1_p{
        padding: 0;
    }
    
}

@media screen and (max-width: 1280px) {

    .borderz{
        width: 290px;
    }
  

}

@media screen and (max-width: 1120px) {
    .borderz{
        width: 280px;
    }
    .bottom_box1 > h3, .bottom_box2 > h3{
        font-size: 22px;
    }
    .box1_inner > h2 {
        font-size: 28px;
    }
    #main_ptag{
        font-size: 20px;
        padding: 0;
        padding-top: 10px;
    }

}
@media screen and (max-width: 1024px){
    /* .mainpage_container{
        height: 200vh;
    } */
    .mainpage_right{
        /* height: fit-content; */
    }
    .borderz{
        width: 180px;
    }
    .bottom_box1, .bottom_box2{
        /* width: 200px;   */
    }
    .sideboxes{
        padding: 0;
    }
}

@media screen and (max-width: 960px) {
    .mainpage_wrapper{
        flex-direction: column;
    }
    .borderz{
        width: 220px;
    }
    .box1_inner > h2{   
    }
    .bottom_box1 > p, .bottom_box2 > p{
        font-size: 18px;
    }

    .bottom_box1 > h3, .bottom_box2 > h3{
        font-size: 22px;
    }

    .sideboxes{
        display: flex;
        flex-direction: column;
    }

    .sideboxes > img {
       flex: 1;
    }

    .sideboxes >  h3{
        font-size: 18px;
        flex: 1;
    }

    .sideboxes >  p {
        font-size: 18px;
        width: 70%;
        flex: 1;
    }
    .box1_inner > h2 {
        font-size: 25px;
    }

    #main_ptag{
        font-size: 20px;
        padding: 0;
        padding-top: 10px;
    }

}

@media screen and (max-width: 768px){
  
    .mainpage_left_box1 > h3 {
        margin:  0 0 0.5rem 0;
    }
    .borderz{
        width: 170px;
    }
    .bottom_box1 > p, .bottom_box2 > p{
        font-size: 18px;
    }
    .bottom_box1 > h3, .bottom_box2 > h3{
        font-size: 20px;
    
    }
    .sideboxes{
        padding: 0px;
    
    }
    .sideboxes >  h3{
        font-size: 18px;
    }

    .sideboxes >  p {
        font-size: 18px;
        
        width: 100%;
    }
    .box1_inner{
        flex-direction: column-reverse;
    }
   
    .box1_inner > h2 {
        font-size: 25px;
    }
    .box1_inner > img {
        margin:  0 0 0.5rem 0;
    }

    #main_ptag{
        font-size: 20px;
        padding: 0;
        padding-top: 10px;
    }

}

@media screen and (max-width: 460px){
  
    .mainpage_heading > h2 {
        font-size: 16px;
    }
    .mainpage_left_box1 > h3 {
        
    }
   
    .borderz{
        width: 160px;
    }

    .box1_inner > img {
        max-width: 15rem;
        
    }

    .box1_inner > h2 {
        font-size: 20px;
    }

    #main_ptag{
        font-size: 16px;
        padding: 0;
        padding-top: 10px;
    }
    
    .mainpage_wrapper{
        display: flex;
        flex-direction: column;
    }

   
    .bottom_box1 > h3, .bottom_box2 > h3 {
        font-size: 18px;
    }
    .bottom_box1 > p, .bottom_box2 > p{
        font-size: 16px;
    }

    
    .mainpage_right > h3{
        font-size: 15px;
    }

    .sideboxes > h3 {
        font-size: 18px;
    }
    .sideboxes > p {
        font-size: 16px;
    }

   
    .mainpage_right > h3 {
        font-size: 25px;
    }
}
@media screen and (max-width: 414px){
   
    .mainpage_heading > h2 {
        font-size: 16px;
        padding-left: 13px;
        padding-bottom: 0;
    }
   
    .mainpage_left_box1 > h3{
        font-size: 14px;
        padding-bottom: 10px;
    }
    #one_border{
        display:  none;
    }
   
    .borderz{
        width: 270px;
    }

   
    .box1_inner {
        display: flex;
        flex-direction: column-reverse;
    }

    .box1_inner > h2 {
        width: 100%;
        padding-top: 10px;
        font-size: 16px;
    }

    #main_ptag{
        width: 100%;
        font-size: 14px;
        padding: 0;
        padding-top: 10px;
    }

    
    .mainpage_wrapper{
        display: flex;
        flex-direction: column;
   
    }
    .mainpage_left_sub_wrapper {
        display: flex;
        flex-direction: column;
    }

    .bottom_box1{

        min-height: 100px;
        height: fit-content;
  
    }
    .bottom_box2{

        min-height: 200px;
        height: fit-content;
  
    }
    .bottom_box1 > h3, .bottom_box2 > h3 {
        font-size: 16px;
    }
    .bottom_box1 > p, .bottom_box2 > p{
        font-size: 14px;
    }

    .mainpage_right > h3{
        font-size: 16px;
    }

    .sideboxes > h3 {
        font-size: 16px;
    }
    .sideboxes > p {
      
        width: 80%;
        font-size: 14px;
    }
    .sideboxes > img {
        width: 240px;
    }

}

@media screen and (max-width: 411px){
   
    .mainpage_heading > h2 {
        font-size: 16px;
        padding-left: 13px;
        padding-bottom: 0;
    }
   
    .mainpage_left_box1 > h3{
        font-size: 14px;
        padding-bottom: 10px;
    }
    #one_border{
        display:  none;
    }
   
    .borderz{
        width: 270px;
    }

 
    .box1_inner {
        display: flex;
        flex-direction: column-reverse;
    }

    .box1_inner > h2 {
        width: 100%;
        padding-top: 10px;
        font-size: 16px;
    }

    #main_ptag{
        width: 100%;
        font-size: 14px;
        padding: 0;
        padding-top: 10px;
    }

    
    .mainpage_wrapper{
        display: flex;
        flex-direction: column;
       
    }
    .mainpage_left_sub_wrapper {
        display: flex;
        flex-direction: column;
    }

    .bottom_box1{
    
        min-height: 100px;
        height: fit-content;
  
    }
    .bottom_box2{
     
        min-height: 200px;
        height: fit-content;
  
    }
    .bottom_box1 > h3, .bottom_box2 > h3 {
        font-size: 16px;
    }
    .bottom_box1 > p, .bottom_box2 > p{
        font-size: 14px;
    }

    .mainpage_right > h3{
        font-size: 16px;
    }

    .sideboxes > h3 {
        font-size: 16px;
    }
    .sideboxes > p {
      
        width: 80%;
        font-size: 14px;
    }
    .sideboxes > img {
        width: 240px;
    }

   
    

}

@media screen and (max-width: 375px){
   
    .mainpage_heading > h2 {
        font-size: 12px;
        padding-left: 20px;
    }
   
    .mainpage_left_box1 > h3{
        font-size: 14px;
        padding-bottom: 10px;
    }
    #one_border{
        display:  none;
    }
   
    .borderz{
        width: 250px;
    }

    .box1_inner {
        display: flex;
        flex-direction: column-reverse;
    }

    .box1_inner > h2 {
        width: 100%;
        padding-top: 10px;
        font-size: 16px;
    }

    #main_ptag{
        width: 100%;
        font-size: 14px;
        padding: 0;
        padding-top: 10px;
    }

    
    .mainpage_wrapper{
        display: flex;
        flex-direction: column;
      
    }
    .mainpage_left_sub_wrapper {
        display: flex;
        flex-direction: column;
    }

    .bottom_box1{
      
        min-height: 200px;
        height: fit-content;
  
    }
    .bottom_box2{
      
        min-height: 300px;
        height: fit-content;
  
    }
    .bottom_box1 > h3, .bottom_box2 > h3 {
        font-size: 16px;
    }
    .bottom_box1 > p, .bottom_box2 > p{
        font-size: 14px;
    }

    .mainpage_right > h3{
        font-size: 16px;
    }

    .sideboxes > h3 {
        font-size: 16px;
    }
    .sideboxes > p {
      
        width: 80%;
        font-size: 14px;
    }
    .sideboxes > img {
        width: 210px;
    }

   

}

@media screen and (max-width: 360px){
   
    .mainpage_heading > h2 {
        font-size: 12px;
        padding-left: 20px;
    }
   
    .mainpage_left_box1 > h3{
        font-size: 14px;
        padding-bottom: 10px;
    }
    #one_border{
        display:  none;
    }
   
    .borderz{
        width: 250px;
    }

    .box1_inner {
        display: flex;
        flex-direction: column-reverse;
    }

    .box1_inner > h2 {
        width: 100%;
        padding-top: 10px;
        font-size: 16px;
    }

    #main_ptag{
        width: 100%;
        font-size: 14px;
        padding: 0;
        padding-top: 10px;
    }

    
    .mainpage_wrapper{
        display: flex;
        flex-direction: column;
      
    }
    .mainpage_left_sub_wrapper {
        display: flex;
        flex-direction: column;
    }

    .bottom_box1{
       
        min-height: 200px;
        height: fit-content;
  
    }
    .bottom_box2{
      
        min-height: 300px;
        height: fit-content;
  
    }
    .bottom_box1 > h3, .bottom_box2 > h3 {
        font-size: 16px;
    }
    .bottom_box1 > p, .bottom_box2 > p{
        font-size: 14px;
    }

    .mainpage_right > h3{
        font-size: 16px;
    }

    .sideboxes > h3 {
        font-size: 16px;
    }
    .sideboxes > p {
      
        width: 80%;
        font-size: 14px;
    }
    .sideboxes > img {
        width: 210px;
    }

   
    

}

@media screen and (max-width: 320px){
  
    .mainpage_heading > h2 {
        font-size: 14px;
        padding-left: 20px;
    }
 
    .mainpage_left_box1 > h3{
        font-size: 14px;
        padding-bottom: 15px;
    }
    .box1_inner{
        display: flex;
        flex-direction: column-reverse; 
    }
   
    .borderz{
        width: 200px;
        padding-left: 5px;  
    }

   

    .box1_inner > h2 {
        font-size: 18px;
        width: 100%;
    }

    #main_ptag{
        width: 100%;
        font-size: 14px;
        padding: 0;
        padding-top: 10px;
    }
    
    .mainpage_wrapper{
        display: flex;
        flex-direction: column;
    }
    #one_border{
        display: none;
    }
    .mainpage_left_sub_wrapper{
        display: flex;
        flex-direction: column;
    }

    .bottom_box1{
     
        min-height: fit-content;
        height: 200px;
        
    }
    .bottom_box2{
       
        min-height: fit-content;
        height: 300px;
        
        
    }
    .bottom_box1 > h3, .bottom_box2 > h3 {
     
        font-size: 14px;
    }
    .bottom_box1 > p, .bottom_box2 > p{
        font-size: 14px;
    }

  
   
    .mainpage_right > h3{
        font-size: 15px;
    }
    .sideboxes {
        width: 200px;
        padding-left: 20px;
        margin: 0;
    }
    .sideboxes > img {
        width: 185px;
        padding-left: 0;
    }

    .sideboxes > h3 {
        
        font-size: 14px;
        padding-left: 0;
    }
    .sideboxes > p {
        font-size: 14px;
        padding-left: 0;
    }

    .mainpage_right > h3 {
        font-size: 20px;
    }

}